{
	"presets": [
		"env",
		"react-app",
		"flow"
	],

	"plugins": [
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}],
		["flow-runtime", {
			"assert": false,
			"annotate": false
		}]
	]
}